# Auto detect text files and perform LF normalization
* text=auto

# Standard to msysgit
*.doc    diff=astextplain
*.docx   diff=astextplain
*.dot    diff=astextplain
*.pdf    diff=astextplain
*.rtf    diff=astextplain
*.xls    diff=astextplain
*.xlsx   diff=astextplain